.menu__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  display: flex;
  max-width: 20rem;
  background-color: var(--background);
  padding-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 40rem; }

.menu__cardImg {
  width: 100%; }

.menu__cardTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--text);
  text-align: center;
  padding: 0 0.5rem; }

.menu__cardTextTitle {
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.menu__cardTextPrice {
  color: var(--primary);
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }
