.footer__footerBrand {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	align-items: start;
}

.footer__footerBrandContainerTitle {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
	justify-content: center;
	align-items: center;
	padding: 0.625rem;
}

.footer__footerBrandTitle {
	color: var(--text);
	font-family: Work Sans;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: default;
}

.footer__footerBrandContainerMedia {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	justify-content: start;
	align-items: center;
}
