.menu {
	padding-top: 4rem;
	min-height: 90vh;
}
.menu__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--secondary);
	width: 100%;
	border-radius: 1rem;
	cursor: default;
}
.menu__title {
	color: var(--background);
	font-family: Work Sans;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}
.menu__cardContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
