@import '../../../global/mixins.scss';
.menu {
	padding-top: 4rem;
	min-height: 90vh;
	&__container {
		@include flex(column, 1rem, center, center);
		padding: 1rem;
		background-color: var(--secondary);
		width: 100%;
		border-radius: 1rem;
		cursor: default;
	}
	&__title {
		color: var(--background);
		font-family: Work Sans;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-align: center;
	}
	&__cardContainer {
		@include flex(row, 1rem, center, center);
		flex-wrap: wrap;
	}
}
