/* Define here the Custom properties */
:root{
  /*Main*/
  --text: #FBFBFB;
  --background: #040303;
  --primary: #C52233;
  --secondary: #EEE;
  
  /*Complement*/
  
  /*Neutral*/
  --blackTheme       : #222222;
  --whiteTheme       : #ececec;
  --shadowMain       : #c9c9c9;
  --shadowSec        : #ffffff;
  --blackborder      : #00000050;


  /* Tipography*/
  --mainType  : Merriweather;
  --defaultSize: 1rem;
};
  
/*Dark theme
@media (prefers-color-scheme: dark) {
  :root{
    --blackTheme    : #ececec;
    --whiteTheme    : #303030;
    --shadowMain    : #242424;
    --sahdowSec     : #3c3c3c;
    
    --blackBorder   : #FFFFFF50;
  }
};
*/
