@import '../../../global/mixins.scss';
.contact{
    padding-top: 4rem;
    &__container{
        @include flex(column, 0.25rem, center, center);
        width: 100%;
    }
    &__sectionImg{
        @include flex(column, 0, center, center);
        width: 100%;
    }
    &__img{
        max-width: 23rem;
    }
}
@media (min-width: 950px) {
    .contact{
        &__container{
            @include flex(row, 0.5rem, start, center);
        }
        &__img{
            max-width: 30rem;
        }
    }
}