.contact__section {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  width: 100%; }

.contact__sectionTextContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 33rem;
  cursor: default; }

.contact__sectionTextInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center; }

.contact__title {
  color: var(--text);
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.contact__placeContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center; }

.contact__place {
  color: var(--text);
  text-align: center;
  font-family: Work Sans;
  font-size: 2rem; }

.contact__tel {
  color: var(--text);
  font-size: 1rem; }

.contact__schedule {
  color: var(--text);
  font-family: Merriweather;
  font-size: 1rem; }
