.navbar__brandContainer {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
	justify-content: center;
	align-items: center;
	padding: 0.625rem;
}

.navbar__brandText {
	color: var(--text);
	font-family: Work Sans;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: default;
}
