@import '../../global/mixins.scss';

.linkMenuNav{
    @include flex(row, 1rem, center, center);
    color: white;
    text-align: end;
    flex-wrap: wrap;
}
.link:hover{
    color: var(--primary);
}