@import '../../global/mixins.scss';

.footer{
    &__footerSections{
        @include flex(column, 1.25rem, start, center);
    }
    &__footerSectionsTitle{
        color: var(--text);
        font-family: Work Sans;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: default;
    }
    &__footerSectionsLinksContainer{
        @include flex(column, 0.5rem, start, center);
    }
}

.footerLink{
    color: var(--text);
    &:hover{
        color: var(--primary);
    }
}
