@import '../../global/mixins.scss';
.menu{
    &__card{
        @include flex(column, 1rem, center, start);
        display: flex;
        max-width: 20rem;
        background-color: var(--background);
        padding-bottom: 1rem;
        border-radius: 1rem;
        overflow: hidden;
        height: 40rem;
    }
    &__cardImg{
        width: 100%;
    }
    &__cardTextContainer{
        @include flex(column, 0.5rem, center, center);
        color: var(--text);
        text-align: center;
        padding: 0 0.5rem;
    }
    &__cardTextTitle{
        font-family: Work Sans;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700; 
        line-height: normal;
    }
    &__cardTextPrice{
        color: var(--primary);
        font-family: Work Sans;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}