.navbar__container {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  padding-left: 1rem;
  z-index: 4; }
