@import '../../global/mixins.scss';

.navbar{
    &__container{
        @include flex(row, 0, space-between, center);
        background-color: var(--background);
        position: fixed;
        width: 100%;
        padding-left: 1rem;
        z-index: 4;
    }
}