@import '../../../global/mixins.scss';
.rest {
	&__activeInfoTitle {
		color: var(--background);
		text-align: center;
		font-family: Work Sans;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__placeInfoContainer {
		@include flex(column, 1rem, center, center);
	}
	&__placeInfoTitle {
		color: var(--background);
		text-align: center;
		font-family: Work Sans;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__placeInfoSchedule {
		color: var(--background);
		text-align: center;
		font-family: Merriweather;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&__placeInfoImg {
		width: 12rem;
		height: 12rem;
		border-radius: 100%;
	}
}

.onInfo {
	display: flex;
}
.offInfo {
	display: none;
}
