.rest__activeInfoTitle {
	color: var(--background);
	text-align: center;
	font-family: Work Sans;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.rest__placeInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.rest__placeInfoTitle {
	color: var(--background);
	text-align: center;
	font-family: Work Sans;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.rest__placeInfoSchedule {
	color: var(--background);
	text-align: center;
	font-family: Merriweather;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.rest__placeInfoImg {
	width: 12rem;
	height: 12rem;
	border-radius: 100%;
}

.onInfo {
	display: flex;
}

.offInfo {
	display: none;
}
