a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

p a {
  display: inline; }

li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block; }

body {
  background-color: var(--background);
  min-height: 100vh;
  font-size: var(--defaultSize);
  font-family: var(--mainType);
  font-weight: 400; }

/* Define here the Custom properties */
:root {
  /*Main*/
  --text: #FBFBFB;
  --background: #040303;
  --primary: #C52233;
  --secondary: #EEE;
  /*Complement*/
  /*Neutral*/
  --blackTheme: #222222;
  --whiteTheme: #ececec;
  --shadowMain: #c9c9c9;
  --shadowSec: #ffffff;
  --blackborder: #00000050;
  /* Tipography*/
  --mainType: Merriweather;
  --defaultSize: 1rem; }

/*Dark theme
@media (prefers-color-scheme: dark) {
  :root{
    --blackTheme    : #ececec;
    --whiteTheme    : #303030;
    --shadowMain    : #242424;
    --sahdowSec     : #3c3c3c;
    
    --blackBorder   : #FFFFFF50;
  }
};
*/
